<div class="overview_container">
  <div class="row">
    <div class="col-md-12">
        <div claass="introduction_this_app">
          <h4>
                <strong>
                <br>
                KitCommuは、
                <br>
                <br>
                国内では手に入りにくい海外サッカークラブのユニフォームに関する情報を共有できるアプリケーションです。
                <br>
                <br>
                登録してある商品を検索したり掲示板機能を使って探しているユニフォームを見つけよう！
                <br>
                <br>
                </strong>
                <br>
                <br>
                <hr>
                <br>
          </h4>
        </div>
        <div class="guiding_this_app">
            <h5><strong>当アプリケーションの使い方</strong></h5>
            <p>
                左にあるサイドメニューから各ページへアクセスができます。
            </p>
            <p>
                ストアや登録してあるチームから商品を探したり、商品一覧ページでは商品名で検索することができます。
            </p>
            <p>
                掲示板では、どなたでも投稿ができるので気軽にコミュニケーションを取ることができます。
            </p>
            <br>
            <br>
            <br>
            <h5><strong>アカウント登録について</strong></h5>
            <p>
                上部の「Sign Up」もしくは「アカウント作成」からアカウントを作成することができます。
            </p>
            <p>
                アカウントを作成することにより、好きなストアやチームをお気に入り登録することができます。
            </p>
            <p>
                また、掲示板に投稿した内容を編集、削除することができます。
            </p>
            <p>
                ※ログインをしない状態で掲示板に投稿されたものは内容の変更や削除ができませんのでご注意ください。
            </p>
            <br>
            <br>
            <br>
        </div>
        <div class="link_in_Overview">
          <%= link_to "Topへ戻る", root_path %> |
          <%= link_to " アカウント作成 ", new_user_registration_path %> |
          <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post %>
        </div>
    </div>
  </div>
</div>
