.container {
    width: 100%;
    margin: 0;
    position: relative;
    min-height: 100vh;
  }

.content{
    width: 75%;
    display: block;
    padding: 15px 0 15px 15px;
    float: right;
}
