#side_menu {
	width: 20%;
	max-width: 360px;
	padding: 0;
	float: left;
}
#side_menu a:hover{
  color: #ffffff;
  background-color: #777;
  text-decoration: none;
}
.index_link li{
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	background: #777;
	cursor: pointer;
}
.index_link a {
	display: block;
	padding: 10px;
	text-decoration: none;
	line-height: 1;
	color: #ffffff;
	line-height: 1;
	font-weight: 700;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
 }
 .index_link p{
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	background: #777;
	cursor: pointer;
	padding: 10px;
	line-height: 1;
	color: #ffffff;
	line-height: 1;
	font-weight: 700;
}
.cp_actab {
	max-width: 360px;
	margin: 0 auto;
	padding: 0;
}
.cp_actab a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #000000;
	line-height: 1;
}
.cp_actab input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}
.cp_actab ul {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	list-style: none;
}
.cp_actab label {
	display: block;
	position: relative;
	margin: 0 0 2px 0;
	padding: 12px;
	line-height: 1;
	color: #ffffff;
	background: #777777;
	cursor: pointer;
}
.cp_actab .cp_actab-content {
	overflow: hidden;
	max-height: 0;
	-webkit-transition: max-height 0.35s;
	transition: max-height 0.35s;
	color: #333333;
	background: #f4f4f4;
}
/* :checked */
.cp_actab input:checked ~ .cp_actab-content {
	max-height: 100em;
}
/* Icon */
.cp_actab label::after {
	line-height: 3;
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	width: 3em;
	height: 3em;
	-webkit-transition: all 0.35s;
	transition: all 0.35s;
	text-align: center;
}
.cp_actab input[type=checkbox] + label::after {
	content: '+';
}
.cp_actab input[type=checkbox]:checked + label::after {
	transform: rotate(315deg);
}
